<h1>Character Generator</h1>

<h2>Choose Character</h2>

<section>
  <%= link_to image_tag("https://cdn.discordapp.com/attachments/1095470918022729789/1115970884683964456/cyberpunk_male_character.png", class: "character-image"), student_profile_path(@student, kind: "male") %>

  <%= link_to image_tag("https://cdn.discordapp.com/attachments/1095470918022729789/1115970885086613605/cyberpunk_female_character.png", class: "character-image"), student_profile_path(@student, kind: "female") %>
</section>